.portfolio {
    height: 600vh;
    position: relative;
}

.pList {
    position: sticky;
    top: 0;
    display: flex;
    height: 100vh;
    width: max-content;
}

.pItem {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
}

/* Gradient backgrounds for items */
.pItem:nth-child(3) {
    background: linear-gradient(to right, transparent, #260622);
}

.pItem:nth-child(4) {
    background: linear-gradient(to right, #260622, #02222e);
}

.pItem:nth-child(5) {
    background: linear-gradient(to right, #02222e, #12071f);
}

.pItem:nth-child(6) {
    background: linear-gradient(to right, #12071f, transparent);
}

/* Progress Circle */
.pProgress {
    position: sticky;
    width: 80px;
    height: 80px;
    left: 0;
    bottom: 80%;
}

.pImg {
    width: 40%;
    border-radius: 20px;
    overflow: hidden;
}

.pImg img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.pText {
    width: 40%;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.pText h1 {
    font-size: 56px;
}

.pText p {
    font-weight: 300;
}

.pText button {
    background-color: pink;
    padding: 12px;
    border-radius: 10px;
    border: none;
    font-weight: 500;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.pText button:hover {
    background-color: #ff95aa;
}

/* Responsive Design */
@media (max-width: 1536px) {
    .pItem {
        gap: 50px;
    }
}

@media (max-width: 1280px) {
    .pText h1 {
        font-size: 48px;
    }
}

@media (max-width: 1024px) {
    .pItem {
        flex-direction: column;
        gap: 20px;
    }

    .pImg,
    .pText {
        width: 80%;
    }

    .pProgress {
        bottom: 100px;
        left: auto;
        right: 10px;
        transform: scale(0.8);
    }
}

@media (max-width: 768px) {
    .pText h1 {
        font-size: 36px;
    }

    .pText button {
        padding: 10px;
    }

    .pProgress {
        width: 50px;
        height: 50px;
        bottom: 50px;
    }
}

@media (max-width: 480px) {

    .pImg,
    .pText {
        width: 100%;
    }

    .pText h1 {
        font-size: 32px;
    }

    .pProgress {
        width: 40px;
        height: 40px;
    }

    .pText button {
        padding: 8px;
        font-size: 14px;
    }
}